.wrapper {
    margin-bottom: 20px;
}

.listSection {
    margin-bottom: 40px;
    padding-left: 4%;
}

.sectionTitle {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #e5e5e5;
    border-left: 4px solid #0a5ee6;
    padding-left: 10px;
}

.horizontalList {
    display: flex;
    padding: 10px 0;
}