.navItem {
    list-style: none;
}

.navLink {
    text-decoration: none;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding: 4px 0px;
}

.navItem:hover .navLink {
    color: hsl(0, 0%, 80%);
    transition: 0.2s;
}

.navLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3b82f6;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.navLink.active::after,
.navLink:hover::after {
    transition: 0.1s;
    transform: scaleX(1);
}