.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3%;
    background-color: #0d1117;
    box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.logo img {
    width: 75px;
    height: 100%;
    object-fit: cover;
}

.navItems {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItemsOpen {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0d1117;
    padding: 20px;
    margin-top: 19px;
    z-index: 999;
}

.btnAccount {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
    display: flex;
}