.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.contentBox {
    background-color: #18202b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}


.githubProject {
    margin-top: 20px;
    font-size: 45px;
    color: white;

    &:hover {
        color: hsl(0, 0%, 90%);
    }

    &:active {
        color: hsl(0, 0%, 80%);
    }
}

.contentLinksContainer {
    margin-bottom: 10px;
    display: flex;
    gap: 50px;
}

.linkItem {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 300;

    &:hover {
        color: hsl(0, 0%, 80%);
    }
}

.copyrightBox {
    background-color: #0d1117;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}


.githubDesigned {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .contentBox {
        height: auto;
        padding: 30px 0;
    }

    .contentLinksContainer {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        margin-top: 20px;
    }
    
    .githubProject {
        margin-top: 0;
    }
}